#experience{
    display: flex;
    flex-direction: column;
}
#experience label{
    flex-grow: 1;
    float: left;
}
#experience input{
    flex-grow: 1;
    float: right;
    margin-bottom: 10px;
}
#calendar-icon{
    position: absolute;
    right: 0px;
}
.date-wrapper {
    
    display: flex;
    flex-direction: column;
}

input{
    width: 400px;
    margin-bottom: 10px;
}